[submodule "sokol"]
	path = sokol
	url = https://github.com/floooh/sokol.git
[submodule "squirrel"]
	path = squirrel
	url = https://github.com/albertodemichelis/squirrel.git
[submodule "wren"]
	path = wren
	url = https://github.com/wren-lang/wren.git
[submodule "duktape"]
	path = duktape
	url = https://github.com/svaarala/duktape-releases.git
[submodule "sdl2"]
	path = sdl2
	url = https://github.com/SDL-mirror/SDL.git
[submodule "curl"]
	path = curl
	url = https://github.com/nesbox/curl.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "blip-buf"]
	path = blip-buf
	url = https://github.com/nesbox/blip-buf.git
[submodule "giflib"]
	path = giflib
	url = https://git.code.sf.net/p/giflib/code
[submodule "sdl-gpu"]
	path = sdl-gpu
	url = https://github.com/grimfang4/sdl-gpu.git
